/******************************* Scroll Bars style *******************************/

/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--border-color);
    border-radius: 5px;
    border: 1px solid #5d698d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #5d698d;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--font-primary-color);
}

